@import './loading.less';
@import './default.less';

.container {
  .nav-left{
    height: calc(100vh);
    color: #fff;
    background-color: #001529;
  }
  .main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;
  }
  .content{
    position: relative;
    padding: 20px;
  }
}

.content-wrap {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: -1px;
  .ant-table-wrapper{
    margin-left: -1px;
    margin-right: -2px;
  }
}